<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Multiplatform client</h1>
  <p class="lead">Know your travel patterns, and quantifies the impact of your choices.</p>
</header>


<ul class="thumbnails bootstrap-examples">
  <li class="span4">
    <a class="thumbnail" href="trips">
      <img src="assets/001.png" alt="">
    </a>
    <a href="http://arduino.cc" class="btn btn-inverse btn-large center">Arduino Open Hardware</a>
  </li>
  <li class="span4">
    <a class="thumbnail" href="trips/summaries">
      <img src="assets/002.png" alt="">
    </a>
    <a href="http://google.com" class="btn btn-inverse btn-large center">Google Android</a>
  </li>
  <li class="span4">
    <a class="thumbnail" href="trips/patterns">
      <img src="assets/003.png" alt="">
    </a>
    <a href="http://apple.com" class="btn btn-inverse btn-large center">Apple iPhone</a>
  </li>
</ul>