<h1>Trips Patterns</h1>
<br />

<table class="table table-bordered">
<tr>
	<th>Type</th>
	<th>Time in Hour</th>
	<th>Percentage Usage</th>
	<th>Total Footprint</th>
</tr>

<% pattern = Trip.PatternGet("1335002300","1335016801") %>
<% pattern.each do |data| %>
<tr>
	<td><%= data["type"]%></td>
	<td><%= data["time_in_hour"]%></td>
	<td><%= data["percentage_usage"]%></td>
	<td><%= data["total_footprint"]%></td>
</tr>
<% end %>
</table>