<h1>Trips Patterns</h1>
<br />
<h3>Data Structure:</h3> <br />
<%= Trip.PatternGet("1335002300","1335016801") %>
<br /><br />
<table class="table table-bordered">
<tr>
	<td>Type</td>
	<td>Time in Hour</td>
	<td>Percentage Usage</td>
	<td>Total Footprint</td>
</tr>
<tr>
	<td>car</td>
	<td>20.2</td>
	<td>10</td>
	<td>150</td>
</tr>
<tr>
	<td>motorcycle</td>
	<td>12</td>
	<td>20</td>
	<td>75</td>
</tr>
<tr>
	<td>walk</td>
	<td>20.2</td>
	<td>10</td>
	<td>5</td>
</tr>
</table>
