     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p>Travelisa by <a href="http://twitter.com/ksetyadi" target="_blank">@ksetyadi</a> and <a href="http://twitter.com/panggi" target="_blank">@panggi</a>.</p>
        <p>Github: <a href="https://github.com/nasa-spaceapps-jkt/travelisa-frontend" target="_blank">https://github.com/nasa-spaceapps-jkt/travelisa-frontend</a>.</p>
      </footer>
