<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Travelisa</h1>
  <p class="lead">Know your travel patterns, and quantifies the impact of your choices.</p>
</header>


<ul class="thumbnails bootstrap-examples">
  <li class="span4">
    <a class="thumbnail" href="trips">
      <img src="assets/01.png" alt="">
    </a>
    <h3>Record your trips</h3>
    <p>The trips can be recorded using multiple devices based on your preference.</p>
  </li>
  <li class="span4">
    <a class="thumbnail" href="trips/summaries">
      <img src="assets/02.png" alt="">
    </a>
    <h3>Trip summary</h3>
    <p>See your trip summary so you can track where you've been.</p>
  </li>
  <li class="span4">
    <a class="thumbnail" href="trips/patterns">
      <img src="assets/03.png" alt="">
    </a>
    <h3>Travel pattern</h3>
    <p>From the data, you'll get your travel pattern and suggestion regarding the carbon footprint you've made.</p>
  </li>
</ul>